---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LuminAudio: Home</title>
	</head>
	<body style="background-image: url(https://luminaudio.org/lumin1_bg.jpg)"
		  class="bg-stone-200 font-sans bg-cover">

			
			<div class="relative z-10 text-white text-center bg-black/70 border-black border-4 rounded-lg  max-w-3xl mx-auto mt-24 p-12">
				<a href="../index"><img src="lumin-logo.svg" alt="LuminAudio" class="w-96 m-auto"></a>
			  <h2 class="text-2xl">Bringing Sacred Classics to Light</h2>
				<p>Classic and Inspirational Works in</p>
				<p>High Quality AudioBooks for the Creative Commons.</p>
				<br>
			  <p>Coming in April 2024</p>
			
			<nav class="pt-12 font-sans text-xl ">
			  <a class="pr-3" href="/news">Articles</a>  -
			  <a class="pr-3" href="/projects">Projects</a> -
			  <a href="/contact">Contact</a>
			</nav>
			
			</div>
	</body>
</html>
