---
import Layout from '../../layouts/Layout.astro'

---

<Layout>


<div class="text-center bg-slate-500/80 border-black border-4 rounded-lg max-w-4xl mx-auto">
    <h1 class="m-auto pt-6 pb-2 text-lg">Articles</h1>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 p-12">

            <a href="/news/mission" class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:invert px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="min-w-0 flex-1">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">Mission and Vision</p>
                    <p class="truncate text-sm text-gray-500">and upcoming Projects!</p>
                </div>
            </a>


            <a href="/news/audial-learning" class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:invert px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="min-w-0 flex-1">

                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">Audial Learning</p>
                    <p class="truncate text-sm text-gray-500">The Evolving Landscape of Learning</p>

                </div>
            </a>



              <a href="/news/wisdom-soundscapes" class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:invert px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="min-w-0 flex-1">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">Bringing the Wisdom of the Past</p>
                    <p class="truncate text-sm text-gray-500">into the SoundScapes of the Future</p>
                </div>
            </a>


            <a href="/news/ai-emergence" class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:invert px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="min-w-0 flex-1">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">Seven reasons for AI-Audio</p>
                    <p class="truncate text-sm text-gray-500">and it's impact.</p>
                </div>
            </a>
        
        </div>
    </div>

</Layout>

  