---
import Layout from '../../layouts/Layout.astro'

---

<Layout>
        <div class="relative text-stone-900 px-6 py-8 sm:py-12 lg:px-8">
                <div class="mx-auto max-w-2xl text-center relative z-10">
                        <h2 class="text-4xl font-bold tracking-tight ">The Mission and Outlook of LuminAudio</h2>
                        <h3 class="mt-2 text-lg leading-8 text-gray-900">Welcome to the Community of LuminAudio!</h3>

                </div>
        </div>

        <div class="prose dark:prose-invert mx-auto mb-12">

                <p>LuminAudio is a community of enthusiasts dedicated to the timeless beauty of Classical and Sacred literature. Our shared passion for the spoken word brings us together, creating a space where history's most inspiring literary works come alive. </p>

                <h3>Our Mission</h3>
                <p>To make accessible high-quality audio versions of some of the histories great classical sacred works, freely accessible under a Creative Commons license.</p>

                <h3>Join Our Journey</h3>
                <p>We warmly invite you to be a part of our story, whether by offering content suggestions or supporting our mission through donations (501c3 status pending). Together, we can ensure that these literary treasures are preserved and appreciated for generations to come.</p>

                <h3>Exciting Launch Ahead</h3>
                <p>In 2024, LuminAudio is set to make a grand entrance with a collection of ten classic and inspirational titles released every quarter. These masterpieces will be freely accessible, inviting you to immerse yourself in the world of profound literature right from our site.

                <h3>Be Part of Something Historic</h3>
                <p>Join us in this enlightening journey at LuminAudio, where history's words find a new voice.</p>

                <ul>
                        <li>The Early Church Fathers (English, Spanish)</li>
                        <li>Augustine’s Works (Confessions, City of God)</li>
                        <li>Bunyon’s Works</li>
                        <li>Spurgeon’s Works</li>
                        <li>Bibles (Numerous in English, Spanish, Arabic and others.)</li>
                        <li>Thomas Aquinas' Summa Theologica</li>
                        <li>Milton’s Paradise Lost</li>
                        <li>Cramer’s Book of Common Prayer</li>
                        <li>Foxes Book of Martyrs</li>
                        <li>Dante’s Divine Commedy</li>
                        <li>À Kempis – The Imitation of Christ</li>
                        <li>... and more</p>.
                </ul>

                <p>Please contact us and ask to join our mailing list for updates on the content.</p>


        </div>

</Layout>