---
import Layout from '../../layouts/Layout.astro'

---

<Layout>
        <div class="relative text-stone-900 px-6 py-8 sm:py-12 lg:px-8">
                <div class="mx-auto max-w-2xl text-center relative z-10">
                        <h2 class="text-4xl font-bold tracking-tight ">The Mission and Outlook of LuminAudio</h2>
                        <h3 class="mt-2 text-lg leading-8 text-gray-900">Welcome to the Community of LuminAudio!</h3>

                </div>
        </div>

        <div class="prose dark:prose-invert mx-auto mb-12">
                <p>The growing LuminAudio Community is a gathering of Classical and Sacred literature enthusiasts who share a common passion for the spoken Word.</p>

                <p>Our mission is to advance learning and an appreciation for historical sacred literature by leveraging new technologies to greatly expand the availability and narative quality of such works.  We aim to transcribe that world’s classical inspirational literary works in audio for free and widespread use.  We invite you to join us with content suggestions and donations (501c3 pending).</p>

                <p>Launching in 2024, We expect to launch 10 classic and inspirational titles per quarter that will be free accessible from this site:</p>

                <ul>
                        <li>Bibles (Numerous in English, Spanish, Arabic and others.)</li>
                        <li>The Early Church Fathers (English, Spanish)</li>
                        <li>Augustine’s Works (Confessions, City of God)</li>
                        <li>Bunyon’s Works</li>
                        <li>Spurgeon’s Works</li>
                        <li>Thomas Aquinas Summa Theologica</li>
                        <li>Milton’s Paradise Lost</li>
                        <li>Cramer’s Book of Common Prayer</li>
                        <li>Foxes Book of Martyrs</li>
                        <li>Dante’s Divine Commedy</li>
                        <li>À Kempis – The Imitation of Christ</li>
                </ul>

                <p>Please contact us and ask to join our mailing list for updates on the content.</p>


        </div>

</Layout>