---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lumin Audio</title>
	</head>
	<body class="bg-stone-50 font-sans bg-[url('lumin1_bg.jpg')] bg-cover">



	<div class="relative z-10 text-white font-mono text-center bg-slate-500/80 border-black border-8 rounded-lg max-w-4xl mx-auto mt-12 p-8">
		<img src="/lumin-logo.svg" class="w-96 m-auto">

		<nav class="pt-3">
			<a href="/news">News</a> -
			<a href="/projects">Projects</a> -
			<a href="/contact">Contact</a>
		</nav>

	</div>

        <slot />

	</body>
</html>
